#back {
  background-color: aliceblue; 
}

.idk {
  color:brown;
  text-align: center;
  font-family: fantasy;
}

.idc {
  color: brown;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.quote {
  color: burlywood;
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: 40px;
  float: left;
  width: 1000px;
}

.cool {
  padding: 20px;
  border: 3px solid saddlebrown;
  overflow: auto;
}

.pic {
  float: right;
}

.wow {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: rosybrown;
}

.title {
  color: saddlebrown;
}